div#screen
	{
		height: 285px;
		width: 190px;
		padding: 0 30px;
		background-color: #333333;
		float:left;

		position: absolute;
		top: 120px;
		left: 80px;

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
	}

div#picture
	{
		height: 305px;
		width: 190px;
		margin-top: 5px;
		margin-bottom: 10px;
		clear: both;

		border-radius: 8px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-o-border-radius: 8px;
	}